<div>
	<img class="table__app_image" ng-src="{{product.image}}" alt="Приложение">
</div><div class="table__col-name">
	{{product.name}}<span class="table__col-name-date">{{product.date}}</span>
</div><div class="table__col-desc">{{product.description}}</div><div class="table__col-price">{{product.price}}</div>

<!-- <td>
	<a href><img class="table__app_image" ng-src="{{product.image}}" alt="Приложение" /></a>
</td>
<td class="table__col-name"><a class="table_href" href="catalog.html#!/product/{{product.id}}" ng-click = "store.activePage('product-page', product)">{{product.name}}</a><span class="table__col-name-date">{{product.date}}</span></td>
<td class="table__col-desc">{{product.description}}</td>
<td class="table__col-price">{{product.price}}</td> -->