<div class="change-content">
	<div class="content__title">{{store.dataPage.name}}</div>
	<div class="app">
		<div class="app_right">
			<img class="app__image" ng-src="{{store.dataPage.image}}">
			<a href="page1.html" class="button app-button">В корзину</a>
		</div>
		<div class="clearfix"></div>
		<div class="nav">
			<ul class="nav-pills">
				<li ng-class='{active:store.tab===1}'><a ng-click="store.setPanel(1)" href>Дата</a></li>
				<li ng-class='{active:store.tab===2}'><a ng-click="store.setPanel(2)" href>Описание</a></li>
				<li ng-class='{active:store.tab===3}'><a ng-click="store.setPanel(3)" href>Цена</a></li>
			</ul>
			<div ng-show="store.isSelected(1)" class="panel">
				<div class="app__date">{{store.dataPage.date}}</div>
			</div>
			<div ng-show="store.isSelected(2)" class="panel">
				<div class="app__desc">
					{{store.dataPage.description}}
				</div>
			</div>
			<div ng-show="store.isSelected(3)" class="panel">
				<div class="app__price">{{store.dataPage.price|currency}}</div>
			</div>
			<a href="catalog.html#!/catalog" class="back">Назад</a>
		</div>
	</div>
</div>